@media (max-width: 850px) {
		body {
			padding-top: 64px;
			padding-bottom: 16px;
		}
	}
body {
  padding-top: 5rem;
  padding-bottom: 40px;
  background-color: #eee;
}

html,body {font-family: Quicksand;margin: 0 auto;}
